@model IEnumerable<AccountingBookCommon.Category>

<link href="~/Content/sidebar.css" rel="stylesheet" />

<div id="sidebar">
    <h2>Categories</h2>
    <hr />
    <ul>
        @foreach (var category in Model)
        {

            <li>
                <a id="@category.Id" onclick="getSubjectsById(@category.Id, '@category.Name', true)">@category.Name</a>
                <ul>
                    @foreach (var subCategory in category.SubCategories)
                    {
                        <li><a id="@subCategory.Id" onclick="getSubjectsById(@subCategory.Id, '@subCategory.Name', false)">@subCategory.Name</a></li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>
