@model IEnumerable<AccountingBookCommon.Models.Category>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "AddEditCategory", new { categoryId = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteCategory", new { categoryId = item.Id })
                </td>
            </tr>
        }

    </table>
}
else
{
    @ViewBag.Error;
}