@model IEnumerable<AccountingBookCommon.Models.Category>


<link href="~/Content/sidebar.css" rel="stylesheet" />
<script src="~/Scripts/getSubjectsByCategoriesId.js"></script>


<div id="sidebar">
    <h2>Categories</h2>
    <hr />
    @if (Model != null)
    {
        if (Model.Any())
        {
            @DisplayTree(Model.Where(x => x.Pid == null).OrderBy(x => x.Name));
            @helper DisplayTree(IEnumerable<AccountingBookCommon.Models.Category> categories)
            {
    <ul>
        @foreach (var category in categories)
        {
            <li class="active">
                <a onclick="subjectVar.GetSubjectsByCategoryId(@category.Id, '@category.Name')">@category.Name</a>
                @{
                    var children = Model.Where(x => x.Pid == category.Id).OrderBy(x => x.Name).ToList();
                    if (children.Any())
                    {
                        @DisplayTree(children);
                    }
                }
            </li>
         }
    </ul>
            }
        }
        else
        {
            <ul>Categories not found</ul>
        }
    }
    else
    {
        <ul>@ViewBag.Error</ul>
    }
</div>
    
<script>
    window.subjectVar = window.Subject();
</script>