@model AccountingBookCommon.Models.State

@{
    ViewBag.Title = "DeleteState";
}

<h2>Delete State</h2>
@if (Model != null)
{
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ListStates")
        </div>
    }
</div>
}
else
{
    @ViewBag.Error;
}